@page "/Highscore"
@inject NavigationManager Navigation;

@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IHighScoreService scoreService;



<div class="highscore-background">
     
    <div class="sticky-btn-container">
        <button class="sticky-btn" @onclick="() => NavigateToHome()"> <img class="back" src="/Images/Buttons/Back.png" /> </button>
    </div>

   <div class="highscore-container">

   

    <h1>Hall of Knowledge</h1>
    <h3>Total Players: @playerCount </h3>
    <input class="highscore-search" type="search" placeholder="Search for players" @bind-value="Searcher" @oninput="searchHighScoreList" />
    
    @if(filteredHighScoreList != null && filteredHighScoreList.Any())
    {
        <div class="table-wrapper">

            <table border="1">

                <tr >

                    <th>Name</th>
                    <th>Score</th>
                    <th>Time</th>
                </tr>



                @foreach (var score in filteredHighScoreList)
                {
                    <tr class="score-board-columns">

                        <td>@score.Name</td>
                        <td>@score.Score</td>
                        <td>@score.Time Seconds</td>
                    </tr>
                }
            </table>
        </div>

    }
    else
    {

        <div class="table-wrapper">

            <table>

                <tr class="T-Head">

                    <th>Name</th>
                    <th>Score</th>
                    <th>Time</th>
                </tr>



                @foreach (var score in filteredHighScoreList)
                {
                    <tr class="score-board-columns">

                        <td>@score.Name</td>
                        <td>@score.Score</td>
                        <td>@score.Time Seconds</td>
                    </tr>
                }
            </table>
            


        </div>
       
    }
   
    </div>
   
</div>

