@page "/playground"
@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IFlagService flagService;


<div class="background-container">

    @if (isGameOver == false)
    {
        <div class="information-container">
            <div class="time-container">
                <img src="https://i.gifer.com/QX6b.gif" class="timer-icon" />
                <h2 class="time">Time: @remainingTime seconds</h2>
            </div>
            <div>
                <h3>@currentQuestionNumber of 25</h3>
            </div>
        </div>

        <div class="quest-container">

            <h1>@CurrentQuestion.CountryName</h1>
            <h2>@question</h2>

        </div>
        <h2>@isCorrect</h2>
        <div class="answer-container">


            <div class="question-card">
                <div class="picture-container">
                    <img class="question-image" src="/Images/Flags/@CurrentQuestion.Image">
                </div>
                <div class="clickTxt-container">
                    <h1>Click the correct flag!</h1>
                </div>
                <div class="submit-container">
                    <button @onclick="() => CheckAnswer(currentQuestionIndex)">Awnser</button>

                </div>
                
            </div>

            <div class="question-card">
                <img class="question-image" src="/Images/Flags/@randomTestFlag.Image">
                <h1>Click the correct flag!</h1>
                <button @onclick="() => CheckAnswer(test)">Awnser</button>

            </div>

            
            <div class="game-test">
            </div>

        </div>
    }
    else
    {
        <div class="scoreBoard">


            <h1>Game is over</h1>
            <h2>Points for each correct flag: @flagPoints</h2>
            <h2>Time remaining points: @convertedToTimePonts</h2>
            <h2>Summary of points: @finalResult </h2>


        </div>
    }



   </div>
    




