@page "/playground"
@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IFlagService flagService;
@inject IFlagService scoreService;


<div class="background-container">

    @if (isGameOver == false)
    {
        <div class="information-container">
            <div class="time-container">
                <img src="https://i.gifer.com/QX6b.gif" class="timer-icon" />
                <h2 class="time">Time: @remainingTime seconds</h2>
            </div>
            <div>
                <h3>@currentQuestionNumber of 25</h3>
            </div>
        </div>

        <div class="quest-container">

            <h1>@CurrentQuestion.CountryName</h1>
            <h2>@question</h2>

        </div>
        <h2>@isCorrect</h2>
        <div class="answer-container">


            <button @onclick="() => CheckAnswer(currentQuestionIndex)">@CurrentQuestion.CountryName</button>
            <button @onclick="() => CheckAnswer(test)">@randomTestFlag.CountryName</button>
            <div class="game-test">
            </div>

        </div>
    }
    else
    {
        <div class="scoreBoard">


            <h1>Game is over</h1>
            <h2>Points for each correct flag: @flagPoints</h2>
            <h2>Time remaining points: @convertedToTimePonts</h2>
            <h2>Summary of points: @finalResult </h2>

            <div>
                <!-- Your input field for playerName -->
                <input type="text" @bind="playerName" />
                <!-- Display error message if input is invalid -->
                <div style="color: red; display: @errorMessageDisplay">Invalid input!</div>
                <!-- Display success message if input is valid -->
                 <div style="color: green; display: @succesfullyMessageDisplay">Registration successful!</div>

                <!-- Registration button -->
                <button @onclick="RegisterScoreAsync">Register</button>
            </div>

        </div>
    }



   </div>
    




