@page "/playground"
@using AgileCourseAssignment.Shared;
@using AgileCourseAssignment.Client.Services;
@using AgileCourseAssignment.Client.Pages
@using AgileCourseAssignment.Shared.Models
@inject IFlagService flagService;
@inject IFlagService scoreService;
@inject NavigationManager navigation;


<div class="background-container">

    @if (isGameOver == false)
    {
        <div class="information-container">
            <div class="time-container">
                <img src="https://i.gifer.com/QX6b.gif" class="timer-icon" />
                <h2 class="time">Time: @remainingTime seconds</h2>
            </div>
            <div>
                <h3>@currentQuestionNumber of 25</h3>
            </div>
        </div>

        <div class="quest-container">

            <h1>@CurrentQuestion.CountryName</h1>
            <h2>@question</h2>

        </div>
        <h2>@isCorrect</h2>
        <div class="answer-container">


            @foreach(FlagsModel gameList in playListCompleted)
            {
                <div class="question-card">
                    <img class="question-image" src="/Images/Flags/@gameList.Image" />
                    <button class="btn-submit" @onclick="() => CheckAnswer(gameList.Id)">Answer</button>
                </div>
            }
          

           

        </div>
    }
    else
    {
        <div class="scoreBoard">


            <h1>Game is over</h1>
            <h2>Points for each correct flag: @flagPoints</h2>
            <h2>Time remaining points: @convertedToTimePonts</h2>
            <h2>Summary of points: @finalResult </h2>

            <div>
                
                <input type="text" @bind="playerName" />
                

                <!-- Registration button -->
                @if (isRegistred == false)
                {
                    <button @onclick="RegisterScoreAsync">Register</button>
                    if(wrongRegisterTypo == true)
                    {
                        <div style="display:flex; flex-direction:row; margin-top:15px; align-items:center; justify-content:center; width:320px; gap:10px; background-color:blanchedalmond; border-radius:20px; ">

                            <h2 style="margin-top:10px;">@errorMessageDisplay</h2>
                            <img width="50px" height="50px" style="border-radius:30px; border:solid;" src="https://media.giphy.com/media/3ov9k0ExnKPTAfbOww/giphy.gif" />
                        </div>
                    }
                    if (failedToRegister == true)
                    {
                        
                    }
                }
                else if (isRegistred == true)
                {
                    <div style="color: green; display: @responsemessage">Registration successful!</div>

                    <button @onclick=" ToMenu">Go back to Menu</button>
                }
            </div>

        </div>
    }



   </div>
    




